body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main  {
  flex: 1;
  
}

.baba {
  display: flex;
}

.card { 
  display: flex;
  flex: 1;
  margin: 0px 10px 0px 0px
}

.left {
  margin-right: 100px;
}

span {
  color: #191970;
}

.lt {
  flex: 1;
  margin: 0px 10px 0px 0px;
}

.rt {
  flex: 1;
  margin: 0px 10px 0px 0px;
}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: midnightblue;
  margin: 0px;
}

.tile-image {
  height: 200px;
  width: 300px;
}



